#arti {
  height: 65.5vh;
  width: 100vw;
  background: #ffdead;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.heading-container {
  border-bottom: 1px solid black;
}

.heading-container h1 {
  font-family: bdf;
  font-size: 3rem;
}
.timing {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  height: 60%;
  margin-top: 2vh;
}
.timing .timing-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#orange {
  padding: 10px;
  font-family: ltf;
  background: #e67e22;
  text-align: center;
}
#green {
  font-family: ltf;
  padding: 10px;
  background: #229159;
  text-align: center;
}
#pink {
  background: #eb2d4d;
  text-align: center;
  font-family: ltf;
  padding: 10px;
}
.timing .timing-container img {
  height: 35vh;
}

@media only screen and (max-width: 600px) {
  #arti {
    height: 100%;
  }

  .timing {
    flex-direction: column;
  }
}
