#arti-section{
  padding-top: 20px;
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
 
}
#arti-section h1{
  font-size: 3vw;
 border-bottom: 1px solid #000;
}
#timing{  
  height: 60vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}
#timing-container h3{
  font-size: 2vw;
}

#timing-container .text-box1{
  padding: 8px;
  background: #E67E22;
  display: flex;
  justify-content: center;
  align-items: center;
}
#timing-container .text-box2{
  padding: 8px;
  background: #229159;
  display: flex;
  justify-content: center;
  align-items: center;
}
#timing-container .text-box3{
  padding: 8px;
  background: #EB2D4D;
  display: flex;
  justify-content: center;
  align-items: center;
}
#timing-container .img img{
  height: 16vw;
  
}

@media (max-width:700px){
  #arti-section{
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
  }
  
  
}

@media (max-width:600px){
  #arti-section{
    height: 85vh;
    display: flex;
    justify-content: space-evenly;
  }
  #arti-section h1{
    font-size: 6vw;
  }
  #timing{
    flex-direction: column;
    gap: 10px;
  }
  #timing-container .img img{
    height: 29vw;
    
  }

}