.nav{
    height: 26.5vh;
    width: 100vw;
    background: #FFDEAD;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15px;
    overflow-x:hidden;
    position: sticky;
    top: 0%;
    z-index: 100;
    
}
.nav a{
    text-decoration: none;
    color: black;
}
.left1{
    padding-right: 20px;
    display: flex;
    gap: 10px;
    border-right: 2px dotted black;
}
.left2{
    display: flex;
    gap: 10px;
}
.contact{
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #000;
    font-weight: 500;
}
.contact .left{
    display: flex;
    gap: 20px;
}
.contact .s-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav .logo img{
    height: 9vh;

}
.hb{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hb .navigation-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
#home{
    background: #e67e22;
    padding: 5px 15px;
    border-radius: 2px;
}
.navigation-buttons a{
    font-size: 1rem;
    font-weight: 600;
    font-family: ltf;
    padding: 5px 5px;
    
}
.navigation-buttons a:hover{
    background: #e67e22;    
    border-radius: 2px;
    /* transition: all 0.5s ease-in-out; */
    color: #fff;
    
}
