* {
  margin: 0;
  padding: 0;
}
body{
  background: #FFDEAD;
}
@font-face {
  font-family: ltf;
  src: url(./Assets/source-sans-pro.light.ttf);
}
@font-face {
  font-family: bdf;
  src: url(./Assets/font_latin.woff2);
}
body {
  overflow-x: hidden;
}
